nav{
    background-color: aqua;
    padding: 10px;
}
.Navbar{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.Link{
    text-decoration: none;
    color: white;
    background-color:black;
    padding: 10px;
    border-radius: 10px;
}
.Link:hover{
    background-color: green;
}